.menu {
  position: absolute;
  height: 85px;
  top: 8px;
  background-color: #646cff;
  transform: translateX(-150%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.menuOpen {
  transform: translateX(0);
}

.menuLink {
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 22px;
}

.menuLink:hover {
    background-position: calc(90% + px) center; /* Adjust hover effect */
}

